<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="manipulator">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import manipulator urdf file -->
    <xacro:include filename="$(find rrr_description)/urdf/robot.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="manipulator.ros2_control.xacro" />


    <xacro:manipulator_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
